@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?75435062');
  src: url('../font/fontello.eot?75435062#iefix') format('embedded-opentype'),
  url('../font/fontello.woff?75435062') format('woff'),
  url('../font/fontello.ttf?75435062') format('truetype'),
  url('../font/fontello.svg?75435062#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* for All */

.max-1200 {
  max-width: 1200px;
  margin: auto;
}

/* Navigation */

.navigation {
  z-index: 9999;
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  .nav-box {
    position: static;
    display: flex;
    height: 100px;
    justify-content: space-between;
    .logo-block {
      padding-left: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        display: block;
        position: relative;
        top: -3px;
        font-family: Raleway;
        font-weight: 800;
      }
    }
    .nav-block {
      padding-right: 20px;
      width: 580px;
      display: flex;
      justify-content: space-around;
      align-content: center;
      .active-link {
        color: #00e1ff;
        border-bottom: 2px solid #00e1ff;
      }
      li {
        text-align: center;
        padding-top: 40px;
        flex: 1;
        list-style: none;
        font-family: Raleway, sans-serif;
        font-weight: 300;
        font-size: 1em;
        text-transform: uppercase;
        a, a:link, a:visited, a:hover, a:active  {
          text-decoration: none;
        }
      }
    }
  }
}

/* Landing */

.landing {
  font-family: Raleway;
  background-image: url(../img/landing-bg.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  .header-box {
    text-align: center;
    h1 {
      padding-top: 100px;
      color: #fff;
      font-weight: 100;
      font-size: 3.6em;
    }
    a, a:visited {
      text-decoration: none;
      margin: auto;
      display: block;
      width: 100px;
      font-weight: 300;
      background: none;
      border: 1px solid #fff;
      font-size: 1em;
      color: #fff;
      padding: 17px 37px;
      margin-top: 29px;
    }
  }
}

/* Services */

.our-services {
  padding-top: 120px;
  margin-bottom: 80px;
  .tabs {
    nav {
      max-width: 83%;
      margin: auto;
    }
  }
  .buttons-block {
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
    .btn-srvc {
      flex: 1;
      div {
        height: 118px;
        img {
          display: block;
          margin: auto;
        }
      }
      h4 {
        font-family: Raleway;
        font-weight: 500;
        font-size: 1em;
        padding-bottom: 0.7em;
        text-align: center;
      }
    }
  }
  .animation-line-block {
    section {
      p {
        font-family: Raleway;
        font-weight: 300;
        font-size: 13px;
        padding: 45px 80px 10px;
        min-height: 70px;
      }
    }
    .slide-box {
      width: 72px;
      height: 72px;
      border-right: 2px solid #00e1ff;
    }
    .slide-row {
      width: 72px;
      height: 72px;
      border-bottom: 2px solid #00e1ff;
    }
  }
  .content-block {
  }
}

/* Fully Responsive */

.fully-responsive {
  background-color: #f7f7f7;
  width: 100%;
  .top-part {

    display: flex;
    max-width: 972px;
    padding-top: 51px;
    padding-bottom: 51px;
    margin: auto;
    flex-wrap: wrap;
    .left-side {
      border-right: none;
    }
    .right-side {
      border: 1px solid #00e1ff;
    }
    #corner {
      display: block;
    }
    #corner:before {
      content: '';
      position: relative;
      width: 0;
      height: 0;
      left: 70px;
      top: 48px;
      border: 15px solid;
      border-color: #00e1ff transparent transparent;
    }
    #corner:after {
      content: '';
      position: relative;
      width: 0;
      height: 0;
      left: -87px;
      top: 47px;
      border: 15px solid;
      border-color: #f7f7f7 transparent transparent transparent;
    }
    div {
      border: 1px solid gainsboro;
      flex: 1;
      text-align: center;
      height: 47px;
      a {
        margin: 14px 0 0 0 ;
        display: block;
        font-size: 15px;
        text-decoration: none;
        font-family: Raleway;
        font-weight: 500;
      }
    }
  }
  .bottom-part {
    display: flex;
    max-width: 972px;
    margin: auto;
    padding-bottom: 94px;
    flex-wrap: wrap;
    .phone-side {
      padding-top: 31px;
      padding-right: 15px;
      padding-left: 15px;
      img {
        width: 80%;
        min-width: 280px;
        max-width: 365px;
        display: block;
        margin: auto;
      }
    }
    .text-side {
      padding-top: 48px;
      padding-right: 15px;
      padding-left: 15px;
      h2 {
        padding-bottom: 35px;
      }
      p {
        padding-bottom: 35px;
      }
    }
    div {
      flex: 1;
      h2 {
        font-family: Raleway;
        font-weight: 400;
        font-size: 47px;
      }
      p {
        font-family: Raleway;
        font-weight: 300;
        font-size: 15px;
        color: #74777b;
      }
      a {
        margin: 14px 0 0 0 ;
        display: block;
        font-size: 15px;
        text-decoration: none;
        font-family: Raleway;
        font-weight: 500;
        color: #00e1ff;
        span {
          border: 1px solid #00e1ff;
          width: 170px;
          padding: 10px 40px;
        }
      }
    }
  }
}

/* Portfolio */

.portfolio {
  padding-top: 120px;
  div {
    h3 {
      font-size: 40px;
      font-weight: 400;
      font-family: Raleway;
      text-align: center;
    }
    hr {
      border: 1px solid #00e1ff;
      width: 168px;
      margin-top: 29px;
      margin-bottom: 30px;
    }
    p {
      text-align: center;
      font-size: 13px;
      font-weight: 300;
      font-family: Raleway;
      max-width: 794px;
      margin: auto;
    }
  }
  ul {
    max-width: 521px;
    margin: 79px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      list-style: none;
      a {
        text-decoration: none;
        font-family: Raleway;
        font-weight: 400;
        font-size: 13px;
        span {
          display: block;
          border: 1px solid #fff;
          padding: 10px 30px;
        }
        span.active {
          border: 1px solid #00e1ff;
        }
      }
    }
  }
}

/* Gallery */

.gallery {
  width: 100%;
  ul {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      list-style: none;
      flex: 16%;
      text-align: center;
      img {
        width: 50%;
        height: auto;
      }
    }
  }
}

/* Statistic */

.statistic {
  width: 100%;
  background-color: #131316;
  div.max-1200 {
    max-width: 1050px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: wrap;
    div.count {
      color: #ffffff;
      padding-top: 72px;
      flex: 1;
      align-content: center;
      margin: auto;
      text-align: center;
      padding-bottom: 85px;
      div {
        padding-bottom: 49px;
        height: 78px;
      }
      h4 {
        font-family: Raleway;
        font-weight: 300;
        font-size: 40px;
        padding-bottom: 24px;
      }
      span {
        font-size: 13px;
        font-weight: 500;
        font-family: Raleway;
      }
    }
  }
}

/* Team */

.team {
  width: 100%;
  padding-top: 120px;
  .team-info {
    padding-bottom: 90px;
    h3 {
      font-size: 40px;
      font-weight: 400;
      font-family: Raleway;
      text-align: center;
    }
    hr {
      border: 1px solid #00e1ff;
      width: 168px;
      margin-top: 29px;
      margin-bottom: 30px;
    }
    p {
      text-align: center;
      font-size: 13px;
      font-weight: 300;
      font-family: Raleway;
      max-width: 794px;
      margin: auto;
    }
  }
  .team-block {
    margin: auto;
    max-width: 1162px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    .worker-card {
      margin-bottom: 50px;
      max-width: 268px;
      background-color: #f7f7f7;
      .worker-photo {
        display: flex;
        flex-direction: column-reverse;
        height: 200px;
        background-color: #222212;

        img {
          display: block;
          width: auto;
          height: 150px;
        }
        div {
          font-family: Raleway;
          font-weight: 300;
          text-align: center;
          background-color: #131316;
          h5 {
            font-weight: 300;
            color: #00e1ff;
            font-size: 20px;
            padding-top: 5px;
          }
          p {
            color: #ffffff;
            padding-top: 5px;
            font-size: 13px;
            padding-bottom: 10px;
          }
        }
      }
      .info-block {
        font-family: Raleway;
        font-weight: 300;
        font-size: 13px;
        padding: 34px 23px 28px;
        border-bottom: 1px solid #ffffff;
      }
      .socials {
        display: flex;
        div {
          flex: 1;
          text-align: center;
          padding-top: 19px;
          padding-bottom: 19px;
          border-left: 1px solid #ffffff;
        }
        div:first-child {
          border-left: none;
        }
        .icon-gplus:hover {
          background-color: #db5442;
          color: #ffffff;
          transition-property: background-color, color;
          transition-duration: 500ms;
        }
        .icon-facebook:hover {
          background-color: #36609e;
          color: #ffffff;
          transition-property: background-color, color;
          transition-duration: 500ms;
        }
        .icon-twitter:hover {
          background-color: #2ca9e1;
          color: #ffffff;
          transition-property: background-color, color;
          transition-duration: 500ms;
        }
        .icon-dribbble:hover {
          background-color: #ee558e;
          color: #ffffff;
          transition-property: background-color, color;
          transition-duration: 500ms;
        }
        .icon-gplus:before {
          font-family: "fontello";
          font-style: normal;
          font-weight: normal;
          speak: none;

          display: inline-block;
          text-decoration: inherit;
          width: 1em;
          margin-right: .2em;
          text-align: center;
          /* opacity: .8; */

          /* For safety - reset parent styles, that can break glyph codes*/
          font-variant: normal;
          text-transform: none;

          /* fix buttons height, for twitter bootstrap */
          line-height: 1em;

          /* Animation center compensation - margins should be symmetric */
          /* remove if not needed */
          margin-left: .2em;

          /* You can be more comfortable with increased icons size */
          /* font-size: 120%; */

          /* Font smoothing. That was taken from TWBS */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          content: '\e801';
        }
        .icon-twitter:before {

          font-family: "fontello";
          font-style: normal;
          font-weight: normal;
          speak: none;

          display: inline-block;
          text-decoration: inherit;
          width: 1em;
          margin-right: .2em;
          text-align: center;
          /* opacity: .8; */

          /* For safety - reset parent styles, that can break glyph codes*/
          font-variant: normal;
          text-transform: none;

          /* fix buttons height, for twitter bootstrap */
          line-height: 1em;

          /* Animation center compensation - margins should be symmetric */
          /* remove if not needed */
          margin-left: .2em;

          /* You can be more comfortable with increased icons size */
          /* font-size: 120%; */

          /* Font smoothing. That was taken from TWBS */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;

          content: '\e802';

        }
        .icon-facebook:before {
          font-family: "fontello";
          font-style: normal;
          font-weight: normal;
          speak: none;

          display: inline-block;
          text-decoration: inherit;
          width: 1em;
          margin-right: .2em;
          text-align: center;
          /* opacity: .8; */

          /* For safety - reset parent styles, that can break glyph codes*/
          font-variant: normal;
          text-transform: none;

          /* fix buttons height, for twitter bootstrap */
          line-height: 1em;

          /* Animation center compensation - margins should be symmetric */
          /* remove if not needed */
          margin-left: .2em;

          /* You can be more comfortable with increased icons size */
          /* font-size: 120%; */

          /* Font smoothing. That was taken from TWBS */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          content: '\e803';

        }
        .icon-dribbble:before {
          font-family: "fontello";
          font-style: normal;
          font-weight: normal;
          speak: none;

          display: inline-block;
          text-decoration: inherit;
          width: 1em;
          margin-right: .2em;
          text-align: center;
          /* opacity: .8; */

          /* For safety - reset parent styles, that can break glyph codes*/
          font-variant: normal;
          text-transform: none;

          /* fix buttons height, for twitter bootstrap */
          line-height: 1em;

          /* Animation center compensation - margins should be symmetric */
          /* remove if not needed */
          margin-left: .2em;

          /* You can be more comfortable with increased icons size */
          /* font-size: 120%; */

          /* Font smoothing. That was taken from TWBS */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          content: '\e804';
        }
      }
    }
  }
}

/* News */

.news {
  padding-bottom: 152px;
  padding-top: 110px;
  .news-info {
    h3 {
      font-size: 40px;
      font-weight: 400;
      font-family: Raleway;
      text-align: center;
    }
    hr {
      border: 1px solid #00e1ff;
      width: 168px;
      margin-top: 29px;
      margin-bottom: 30px;
    }
    p {
      text-align: center;
      font-size: 13px;
      font-weight: 300;
      font-family: Raleway;
      max-width: 794px;
      margin: auto;
      padding-bottom: 61px;
    }
  }
  .news-content {
    max-width: 782px;
    margin: auto;
    .one-of-news {
      display: flex;
      .date-block {
        p:first-child {
          font-family: Raleway;
          font-weight: 400;
          font-size: 66px;
          color: #00e1ff;
        }
        p:last-child {
          text-align: center;
          font-family: Raleway;
          font-weight: 400;
          font-size: 13px;
        }
      }
      .short-info-block {
        width: 100%;

        padding-top: 40px;
        padding-left: 30px;
        .text-of-news {
          padding-bottom: 40px;
          font-family: Raleway;
          font-size: 13px;
          font-weight: 300;
        }
        .read-more-line {
          display: flex;
          flex-direction: column;
          a {
            text-align: right;
            text-decoration: none;
            font-family: Raleway;
            font-weight: 400;
            color: #00e1ff;
          }
          hr {
            width: 100%;
            border: 1px solid #d1d3d2;
          }
        }
      }
    }
  }
}

/* Form */

.footer {
  background-color: #131316;
  color: #fff;
  padding-top: 78px;
  .contact-info {
    h3 {
      font-size: 40px;
      font-weight: 400;
      font-family: Raleway;
      text-align: center;
    }
    hr {
      border: 1px solid #00e1ff;
      width: 168px;
      margin-top: 29px;
      margin-bottom: 30px;
    }
    p {
      text-align: center;
      font-size: 13px;
      font-weight: 300;
      font-family: Raleway;
      max-width: 794px;
      margin: 0 auto 91px;
    }
  }
  form {
    max-width: 850px;
    margin: auto;
    padding-bottom: 91px;
    div.row {
      display: flex;
      flex-wrap: wrap;
      div {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin: 0 15px 0 15px;
        input {
          flex: 1;
          margin: 10px;
          background-color: #131316;
          padding: 10px 20px 0 20px;
          color: #fff;
          border: none;
          font-weight: 500;
          font-size: 15px;
          font-family: Raleway;
        }
        input:focus {
          border: none;
          outline:none;
        }
        input::-webkit-input-placeholder {
          font-weight: 500;
          font-size: 15px;
          color: #fff;
          font-family: Raleway;
        }
        input::-moz-placeholder {
          font-weight: 500;
          font-size: 15px;
          color: #fff;
          font-family: Raleway;
        }
        input:-moz-placeholder {
          font-weight: 500;
          font-size: 15px;
          color: #fff;
          font-family: Raleway;
        }
        input:-ms-input-placeholder {
          font-weight: 500;
          font-size: 15px;
          color: #fff;
          font-family: Raleway;
        }
        input[placeholder]          {text-overflow:ellipsis;}
        input::-moz-placeholder     {text-overflow:ellipsis;}
        input:-moz-placeholder      {text-overflow:ellipsis;}
        input:-ms-input-placeholder {text-overflow:ellipsis;}
        .bottom-line {
          display: block;
          border: 2px solid #ffffff;
          height: 7px;
          border-top: none;
        }
        .tool-tip-email, .tool-tip-massage, .tool-tip-name {
          background-color: lightpink;
          border-radius: 7px;
          padding: 20px;
          color: #131316;
          font-family: Raleway;
          font-size: 15px;
          font-weight: 300;
        }
        .tool-tip-email:after, .tool-tip-massage:after, .tool-tip-name:after {
          content: '';
          position: relative;
          width: 0;
          height: 0;
          border: 10px solid;
          border-color: lightpink transparent transparent transparent;
          bottom: -47px;
          margin-bottom: 20px;
        }
        .tool-tip-massage {
          margin-top: 30px;
        }
        .hide {
          visibility: hidden;
        }
      }
      .massage {
        margin-top: 15px;
      }
    }
    .btn-contact {
      display: flex;
      flex-flow: row-reverse;
      padding-right: 15px;
      input {
        width: 173px;
        flex: 0;
        padding: 15px 35px;
        font-family: Raleway;
        font-size: 1em;
        font-weight: 300;
        border: 2px solid #00e1ff;
        background-color: #131316;
        color: #fff;
        margin-top: 36px;
      }
    }
  }
}

/* Contacts */

.contacts {
  background-color: #252726;
  color: #fff;
  font-family: Raleway;
  font-weight: 500;
  padding: 127px;
  div.blue-box {
    margin: auto;
    max-width: 369px;
    text-align: center;
    background-color: #00e1ff;
    p {
      padding: 30px 0;
    }
    a {
      color: #ffffff;
      text-decoration: none;
    }
  }
  div.blue-box:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid;
    border-color: #00e1ff transparent transparent transparent;
  }
}

/* Copyright */

.copyright {
  font-size: 15px;
  font-family: Raleway;
  font-weight: 500;
  color: #fff;
  background-color: #131316;
  padding: 0 15px 40px ;
  .up-btn {
    cursor: pointer;
    display: block;
    height: 40px;
    width: 40px;
    background-image: url(../img/up-button.png);
    background-size: cover;
    background-color: #ffffff;
    border-radius: 20px;
    position: relative;
    bottom: -30px;
    left: 15px;
  }
  p {
    text-align: center;
    a {
      color: #00e1ff;
      text-decoration: none;
    }
  }
}

@media (max-width: 992px) {
  .our-services {
    .tabs {
      nav {
        max-width: 83%;
        margin: auto;
      }
    }
  }
}