<div class="worker-card">
    <div class="worker-photo">
        <div>
            <h5>John Doe</h5>
            <p>Graphic Designer</p>
        </div>
        <img src="app/img/developer.jpg" alt="developer">
    </div>
    <div class="info-block">
        <p>Quae vero auctorem tractata ab fiducia dicuntur. Plura mihi bona sunt, inclinet, amari petere vellent.</p>
    </div>
    <div class="socials">
        <div class="icon-facebook"></div>
        <div class="icon-twitter"></div>
        <div class="icon-gplus"></div>
        <div class="icon-dribbble"></div>
    </div>
</div>